<div class="main users-index">
  <div class="container">
    <h3><%= @you.items %></h3>
    <p><%= @youtube.items %></p>
    <% @youtube.items.each do |item| %>
      <% snippet = item.snippet %>
      <p><%= "-------------------------------------" %></p>
          <p><%= "【チャンネル名】#{snippet.title}" %></p>
          <img src="<%= snippet.thumbnails.default.url %>">
          <p><%= "【チャンネル概要】#{snippet.description}" %></p>
      <p><%= "-------------------------------------" %></p>
    <% end %>
  </div>
</div>
