<div class="main users-index">
  <div class="container">
    <h1><%= "-----------------------------------" %></h1>
        <b><h2>【チャンネル名】：</h2></b><h2><%= "#{@you.items[0].snippet.title}" %></h2>
        <img src="<%= @you.items[0].snippet.thumbnails.default.url %>">
        <b><p>【チャンネル概要】：</p></b><p><%= "#{@you.items[0].snippet.description}" %></p>
        <b><p>【チャンネル登録者数】：</p></b><p><%= "#{@you.items[0].statistics.subscriber_count}" %></p>
        <b><p>【動画投稿数】：</p></b><p><%= "#{@you.items[0].statistics.video_count}" %></p>
        <b><p>【総再生数】：</p></b><p><%= "#{@you.items[0].statistics.view_count}" %></p>
    <h1><%= "-----------------------------------" %></h1>
  </div>
</div>
